@model IEnumerable<MVC5HomeworkWeek1.Models.客戶資料概要>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.客戶名稱)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.客戶銀行總數)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.客戶聯絡人總數)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.客戶名稱)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.客戶銀行總數)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.客戶聯絡人總數)
        </td>
    </tr>
}

</table>
